body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
}

header {
  background-color: #4698aa;
  padding: 25px 0;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

nav {
  background-color: #444;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ul {
  list-style-type: disc;
  text-align: left;
  display: inline-block;
  padding-left: 20px;
}

iframe {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  height: 280px;
  border: none;
}

.images-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.images-row img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

footer {
  background-color: #4698aa;
  color: white;
  padding: 15px;
}

.vlag-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.vlag {
  width: 300px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.stripe {
  flex: 2;
  width: 100%;
  position: relative;
}

.green { background-color: #079f14; }
.white { background-color: white; }
.black { background-color: black; }

.star {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.star.left { left: 25%; }
.star.center { left: 47%; }
.star.right { right: 25%; }

#wisselFoto {
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  background-color: white;
  color: rgb(26, 26, 28);
  font-family: Arial, sans-serif;
}
#VeranderKleur {
  margin-top: 20px;
  padding: 10px 20px;